<%= render 'layouts/error_messages', model: f.object %>
<p>
  <%= f.label :title,"タイトル" %>
  <br>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :content,"内容" %>
  <br>
  <%= f.text_area :content %>
</p>
