<h1>ブログ修正</h1>

<div class="container">
  <div class="row">
      <div class= "col-md-11 col-md-offset-1">
        <div class="blog_edit">
          <%= form_for(@blog) do |f| %>
            <%= render 'layouts/error_messages', model: f.object %>
            <p>
              <%= f.label :title,"タイトル" %>
              <br>
              <%= f.text_field :title %>
            </p>
            <p>
              <%= f.label :content,"内容" %>
              <br>
              <%= f.text_area :content %>
            </p>
            <p>
              <%= f.submit "変更", class: "btn btn-default", data: {confirm: "この記事を削除しますか？"} %>
              <%= link_to "一覧に戻る", blogs_path, class: "btn btn-default" %>
            </p>
          <% end %>
      </div>
    </div>
  </div>
</div>