<% if flash[:danger] %>
  <p><%= flash[:danger] %></p>
<% end %>

<h1>新規ブログ投稿</h1>

<div class="container">
  <div class="row">
    <div class= "col-md-11 col-md-offset-1">
      <div class="blog_new">
        <%= form_for(@blog) do |f| %>
          <%= render 'blogs/form', f:f %>
          <p>
            <%= f.submit "登録", class: "btn btn-success" %>
            <%= link_to "一覧に戻る", blogs_path, class: "btn btn-default" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
